@font-face {
    font-family: 'kohinoorbangla-regular';
    src: url('https://loslagosvirtual.cl/public/360/puertovaras/Infografias/_html_source/fonts/kohinoorbangla-regular.otf') format('opentype');
}

.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column1 {
    flex: 50%;
    padding: 5px;
}

.column2 {
    flex: 25%;
    padding: 5px;
}

body {
    padding-top: 2%;
    margin: 0;
    overflow: hidden;
    background-color: #ffffff00;
    color: white;
    overflow-y: auto;
}

h1 {
    font-family: 'kohinoorbangla-regular';
    color: white;
    text-align: center;
    font-size: 4vw;
}

p {
    font-family: 'kohinoorbangla-regular';
    color: white;
    font-size: 4vw;
    line-height: 1.2;
    text-align: justify;
}